.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ajusta según necesites */
    transition: opacity 1s ease-in-out; /* Suavizar la transición de la imagen */
}

img {
    width: 200px; /* Ajusta el tamaño de la carta según necesites */
    transition: opacity 1s ease-in-out; /* Suavizar la transición de la imagen */
}
